{*
SPDX-FileCopyrightText: © 2025 Mislav Marohnić <hi@mislav.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms"}}

{{- block title() -}}{{ gettext("Import Links from Readwise Reader CSV export") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="prose mb-8">
  <p>{{ gettext(`
    Upload a CSV file exported from your Readwise Reader account below.
  `) }}</p>
</div>

<form action="{{ urlFor() }}" method="POST" enctype="multipart/form-data">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{- yield fileDropField(
    field=.Form.Get("data"),
    required=true,
    label=gettext("File"),
    class="field-h",
  ) -}}

  {{ include "./options" }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn btn-default rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>

<h2 class="mt-8 title text-h3">{{ gettext("Which information is imported") }}</h2>
<div class="prose">
  <ul>
    <li>{{ gettext("Article title, URL, and when it was first saved,") }}</li>
    <li>{{ gettext("The archived state of an article,") }}</li>
    <li>{{ gettext(`"%s" as Readeck labels,`, "Document tags") }}</li>
    <li>{{ gettext(`When a document tag contains "%s", the bookmark will be added to Readeck Favorites.`, "favorite") }}</li>
  </ul>
  <p>{{ gettext("What is not imported:") }}</p>
  <ul>
    <li>{{ gettext("Article reading progress and seen status,") }}</li>
    <li>{{ gettext("Articles forwarded to Readwise Reader by email,") }}</li>
    <li>{{ gettext("Uploaded documents such as PDFs or EPUB.") }}</li>
  </ul>
</div>


{{- end -}}
